<div class="grid justify-items-center m items-center w-full h-full bg-orange-50">
  <mat-card class="min-w-3/4">
    <mat-card-header>
      <p class="font-bold font-(family-name:Roboto)">Error 404 - Página No Encontrada</p>
    </mat-card-header>
    <mat-card-content>
      <p>Lo sentimos, la página que estás buscando no existe o ha sido movida.</p>
    </mat-card-content>
    <mat-card-actions class="grid justify-items-center">
      <button mat-button (click)="goHome()"> Volver a la Página principal</button>
    </mat-card-actions>
  </mat-card>
</div>
